<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p> Hi Congratulations!!! You have successfully applied to the <%= @apply.Position %> position.</p>
    <p>
    Job details<br>
    --------------------------
    </p>
    <p>CompanyName: <%= @apply.name %></p>
    <p>Position: <%= @apply.Position %></p>
    <p>
  </body>
</html>
