<div class="job_applicants ">
  <p class="d-flex justify-content-center my-3 applicants_heading">Applicants List</p>
  <table class="table table-bordered" id="applicants_table">
    <thead>
      <tr>
        <th>User Email</th>
        <th>Company </th>
        <th>Position</th>
      </tr>
    </thead>
    <tbody>
      <% @applicants.each do |applicant| %>
        <tr>
          <td><%= applicant.email %></td>
          <td><%= applicant.name %></td>
          <td><%= applicant.Position %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div id="appicants_page">
    <%= paginate @applicants %>
  </div>
</div>