<div class="mb-2">
<span>Languages :</span>
  <%= link_to "English", url_for(locale: :en) , class: "btn btn-primary" %>
  <%= link_to "French", url_for(locale: :fr) , class: "btn btn-primary" %>
</div>

