// Place all the styles related to the jobs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.job_heading
{
  font-size: 2.5em;
  padding: 5px;
}
#job_table th 
{
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: rgb(111, 11, 182);
  color:white;
  font-family:Arial, Helvetica, sans-serif; 
}
.job_btn
{
  background-color: rgb(111, 11, 182);
  color: white;
  padding: 5px;
}
.job_btn:hover
{
  background-color: rgb(144, 75, 194);
  color:white;
}
 .show_btn, .edit_btn
{
  background-color: rgb(8, 114, 201);
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
}
 .show_btn:hover,  .edit_btn:hover
{
  background-color: rgb(68, 161, 238);
  color:white;
}
 .delete_btn
{
  background-color: rgb(197, 14, 45);
  color:white;
}
 .delete_btn:hover
{
  background-color: rgb(247, 76, 76);
  color:white;
}
.new_job
{
  font-family:Arial, Helvetica, sans-serif; 
  display: flex;
  justify-content: center;
}
.new_job .heading
{
  font-size: 2em;
  text-align: center;
  font-weight: bold;
}
#job_form
{
  background-color: #eee;
  margin-left: 25%;
  margin-right: 25%;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 9px 10px rgba(0,0,0,3);
}
#job_seeker
{
  background-color: rgba(102, 14, 184, 0.808);
  padding: 6px;
  border-radius: 4px;
}
#job_seeker #heading{
  font-size: 3em;
  text-align: center;
  color:white;
}
#job_details
{
  padding: 10px;
}
 .list-group .list-group-item
{
  background-color: rgb(255, 255, 255);
}
#job_seeker #job_details span
{
  font-size: 16px;
  font-weight: bold;
}
#job_seeker #job_details .apply_btn{
  background-color: green;
  color:white;
  border-radius: 5px;
}
#job_seeker #job_details .apply_btn:hover
{
  background-color: rgb(11, 172, 11);
  color:rgb(255, 255, 255);
}
#job_seeker #job_details .applied_btn
{
  background-color: rgb(0, 121, 0);
  color:rgb(255, 255, 255);
}


